.announcement {
  color: lightgray;
  font-style: italic;
  grid-column: span 2;
}

.app {
  height: 100vh;
  width: 100vw;
}

.author{
  font-weight: 600;
  margin-right: 12px;
}

.body {
  white-space: pre;
}

.text-field {
  grid-column: 3;
  line-height: 0;
  margin-top: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.text-field__input {
  border: 0;
  border-radius: inherit;
  box-sizing: border-box;
  line-height: 1.2em;
  /* 2 lines + padding + border */
  min-height: calc(1.2em * 2 + 8px * 2 + 1px * 2);
  padding: 8px;
  resize: vertical;
  width: 100%;
}

.messages-thread {
  align-items: baseline;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  padding: 20px;
  row-gap: 4px;
}

.timestamp {
  color: lightgray;
  font-size: .8em;
  margin-right: 16px;
}
