.announcement {
  color: lightgray;
  font-style: italic;
  grid-column: span 2;
}

.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  width: 100vw;
}

.author{
  font-weight: 600;
  margin-right: 12px;
}

.body {
  white-space: pre;
}

.text-field {
  line-height: 0;
  margin-top: 8px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.text-field__input {
  border: 0;
  border-radius: inherit;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2em;

  /* 3 lines + padding + border */
  max-height: calc(1.2em * 8 + 8px * 2 + 1px * 2);

  /* 8 lines + padding + border */
  min-height: calc(1.2em * 3 + 8px * 2 + 1px * 2);
  padding: 12px;
  resize: none;
  width: 100%;
}

.messages-thread {
  align-items: baseline;
  box-sizing: border-box;
  display: grid;
  flex: auto;
  grid-template-columns: min-content min-content 1fr;
  line-height: 1.2;
  overflow: auto;
  row-gap: 4px;
}

.timestamp {
  color: lightgray;
  font-size: .8em;
  margin-right: 16px;
}
